<div class="route-container" *ngIf="horarios.length > 0">
  <div *ngFor="let horario of horarios" class="route-card">
    <div class="route-item">
      <img src="urban.webp" alt="Van Image" class="van-image">
      <div class="route-details">
        <p>{{ horario.unidad }} - {{ horario.viaje }}</p>
        <p>Horario: {{ horario.hora || 'Horario no disponible en este momento' }}</p>
        <button class="reserve-button" (click)="navigateToReserva()">Reserva</button>
      </div>
    </div>
  </div>
</div>
|