<h1>Pago con tarjeta</h1>

<div id="general">
    <div id="nombre">
        <label for="">Nombre completo</label>
        <input type="text" placeholder="Nombre de titular de tarjeta ">
    </div>

<div id="tarjeta">
    <label for="">Numero de tarjeta </label>
    <input type="text" placeholder="****-****-****-****">
</div>

<div id="ex">
    <label for="">Fecha de expiracion</label>
    <input type="text" placeholder="MM/AA">
</div>

<div id="codigo">
    <label for="">Codigo de seguridad</label>
    <input type="text" placeholder="CVV">
</div>

<button id="bu">Pagar</button>
</div>